*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    width: 1100px;
    margin: 0 auto;
}

.left-content{
    width: 30%;
    height: 100%;
    background-color: #3e4950;
    float: left;
}
.photo-container {
    background-color: #2d343a;
    padding: 0 40px 30px;
}


.right-content {
    width: 70%;
    float: left;
    padding-left: 40px;
}

.profile-img {
    margin: 0 auto;
    width: 200px;    
}

.photo {
    width: 200px;    
    margin: 0 auto;   
}

.photo-container span{
    color: #fff;
    font-size: 0.9em
}
.photo-container span:first-of-type {
    text-transform: uppercase;
    font-size: 1.2em;
}

.span-container {
    text-align: center;
}

