@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'Source Sans Pro', sans-serif;    
}
.all-content{
    min-width: 1100px;
}
.clear{
    clear: both;
}
ul{
    list-style: none;
    padding: 0;
}
.left-container{
    width: 40%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: right;
    color: #808080;
    overflow: hidden;
    background-image: url(../img/bg.jpg);
    background-attachment: scroll;
    
}

.social-icons{
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.social-icons li{
    margin-left: -3px;
    display: inline-block;
}
.photo {
    position: absolute;
    right: 50px;
    top:150px;
    width: 120px;
    height: 120px;
    box-shadow: -1px -1px 15px rgba(255, 255, 255, 0.26);
    border-radius: 50%;
    overflow: hidden;
}

.photo img {
    width: 101%;
    height: 101%;
    background-color: #fff;
}

.right-content {
    width: 60%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;    
    color: #808080;
}

.greeting {
    position: absolute;
    right: 50px;
    top: 300px;
}


.social-footer {
    position: absolute;
    bottom: 100px;
    right: 50px;
}

.fa{
    display: block;
    font-size: 30px;
    margin-right: 15px;
    
}
a{
   color: #808080;
    text-decoration: none;
}
a:hover{
    color: #3dd3bc;
}

.greeting h2 span {
    color: #fff;
}


.right-content .container {
    padding: 40px;
}

.text-container {
    font-size: 20px;
    line-height: 2em;
    border-bottom: 1.2px solid #aaaaaa;
    box-shadow: 1px 1px 10px  #aaa;
    padding: 10px;
    margin-bottom: 50px;
}


.gallery {
    padding-left: 20px;
    margin-bottom: 50px;
}

.example-block {
    overflow: hidden;
    width: 300px;
    height: 400px;
    border: 1px solid transparent;
    border-bottom: 1px solid #aaaaaa;
    box-shadow: 1px 1px 10px  #aaa;
    padding: 15px;
    float: left;
    margin: 0 auto;
    margin: 20px;
    margin-bottom: 45px;
}

.example-i {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 290px;
    border-bottom: 1.2px solid #aaaaaa;
    box-shadow: 1px 1px 10px  #aaa;
}

.gallery h2 {
    text-align: center;
}



input {
    width: 210px;
    font-size: 25px;
    padding: 5px;
    margin: 20px;
    margin-bottom: 0;
    margin-right: 0;
    color: inherit;
    float: left;
}

textarea{   
    width: 460px;
    margin: 20px;
    margin-right: 0;
    float: left;
}
input:first-of-type,
textarea{
    margin-left: 0;
}
input,
textarea,
button{    
    border: 2px solid transparent;
    border-radius: 0.5em;
    background-color: #f4f4f4;
}

.form-container {
    color: #a2a2a2;
    box-shadow: 1px 1px 10px  #aaa;
    padding: 10px;
}
input:hover,
textarea:hover,
input:active,
textarea:active,
button:hover,
button:active{
    border: 2px solid #7cf2aa;
}

.form-container h2 {
   text-align: center;
}


.form-position {
    margin-left: 140px;
}

button {
    width: 210px;
    font-size: 25px;
    padding: 5px;
    margin: 0 10px;
    color: inherit;
}

.text-container h2 {
    text-align: center;
}

.example-block:hover{
    border: 1px solid #7cf2aa;
    box-shadow: 1px 2px 25px #aaa, 2px 1px 25px #aaa, 2px 2px 20px #aaa;
}
