/* .price_block{
  display: inline-block;
  column-count: 3;
} */
.price_block{
  display: inline-block;
  flex-direction: row;
  /* justify-content: center; */
}
.price_block  .parent{
  display: inline-block;
  background-color: #f1890e;
  border-radius: 7px;
  font-family: 'Bitter', serif;
  float: left;
  width:20%;
}
.value{
  text-align: center;
  text-transform: uppercase;
  margin: 20px auto;
  color: #f6e6ea;
}
.child{
  background-color: #fff;
  margin: auto 5px 5px 5px;
  padding: 15px 10px;
}
.ig{
  text-transform: uppercase;
  text-align: center;
  margin: 10px auto;
}
.price{
  text-align: center;
  font-size: 65px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
.price::before{
  content: '$';
  vertical-align: 150%;
  font-size: large;
}
.price::after{
  content: 'Monthly';
  vertical-align: sub;
  font-size: medium;
}
.list{
  background-color: #ee1e65;
  padding: 0;
  margin: 5px auto;
  font-size: 13px;
}
.list ul{
  padding: 0;
  margin: 0;
}
.list ul li{
  list-style: none;
  display: block;
  position: relative;
  text-align: right;
  color: #888888;

}
.list ul li::before{
  background-image: url(http://cs5-1.4pda.to/1141853.png);
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  display: block;
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
}
.list ul li:nth-child(2n+1){
  background-color: #7ad0d4;
}
.list ul li:nth-child(2n){
  background-color: #d5d4d5;
}
.button a{
  display: block;
  text-align: center;
  text-transform: uppercase;
  background-color: #f1890e;
  border-radius: 7px;
  text-decoration: none;
  margin: 10px 0px 7px 0px;
  padding: 2px;
  color: #ffffff;
}

.parent3 {
  float: right;
  widows: 30%;
}
